@import '../common';

.ant-typography {
  margin: 0 12px;
}

.search-bar {
  display: flex;

  @include desktop {
    justify-content: flex-end;
    padding: 8px 0;
  }
  @include mobile {
    padding: 8px;
  }

  & > *:not(:last-child) {
    margin-right: 8px;
  }

  .ant-input-search {
    @include desktop {
      width: 300px;
    }
  }
}

@include desktop {
  .table {
    display: table;
    width: 100%;
    border: $BORDER;
  }
  
  .thead {
    display: table-header-group;
    font-weight: bold;
    background: #fafafa;
    color: $TITLE_COLOR;
  }
  
  .tbody {
    display: table-row-group;
  
    .tr:hover {
      background: $HOVER_BACKGROUND;
    }

    .tr span {
      border-top: $BORDER;
    }
  }
  
  .tr {
    display: table-row;
    color: $TEXT_COLOR;

    span {
      display: table-cell;
      padding: 8px 0;
      text-align: center;
      vertical-align: middle;

      &.name {
        text-align: left;
        color: #1890ff;
      }
    }
  }
}

@include mobile {
  .table {
    width: 100%;
    border: $BORDER;
    color: $TEXT_COLOR;
  }

  .thead {
    display: none;
  }

  .tr {
    display: flex;
    flex-direction: column;
    padding: 8px;
    color: $TEXT_COLOR;

    &:not(:first-child) {
      border-top: $BORDER;
    }

    .first-row {
      display: flex;
      flex-direction: row;
      margin-bottom: 8px;
    }

    .second-row {
      display: flex;
      flex-direction: row;
    }

    .float-right {
      margin-left: auto;
    }

    span:not(:last-child) {
      padding: 0 4px 0 0;
    }
  }
  
  .name {
    color: #1890ff;
  }

  .amount {
    white-space: nowrap;
    margin-left: auto;
  }
}

.ant-pagination {
  margin-top: 16px;
  text-align: center;
}
